<!-- email-templates/partials/footer.hbs -->
<tr>
    <td style="padding: 30px; text-align: center; font-size: 12px; background-color: #3498db; color: #ffffff">
        <p style="margin: 0">© {{currentYear}} {{projectName}}. All rights reserved.</p>
    </td>
</tr>
</table>
</div>
<!--[if mso | IE]>
                                        </td>
                                    </tr>
                                </table>
                                <![endif]-->
</td>
</tr>
</tbody>
</table>
</div>
<!--[if mso | IE]>
                    </td>
                </tr>
            </table>
            <![endif]-->
</div>
</body>

</html>